
.legend{
  padding: 10px;
  &__title{
    font-weight: 700;
    font-size: 18px;
    margin: 0 0 15px 0;
  }
  &__icons{
    display: flex;
    flex-wrap: wrap;
    align-items: baseline;
  }
  &__row{
    display: flex;
    flex: 0 1 33.333%;
    align-items: center;
    gap: 10px;
    margin: 0 0 10px 0;
    @media (max-width: 768px) {
      flex: 0 1 50%;
    }
    @media (max-width: 568px) {
      flex: 0 1 100%;
    }
  }
  &__color{
    width: 70px;
    height: 30px;
    &_blue{
      background: #3388FF;
    }
    &_red{
      background: #FF0000;
    }
    &_grey{
      background: #A3A3A3;
    }
    &_orange{
      background: orange;
    }
  }


  &__icon{
    width: 30px;
    img{
      height: 100%;
      width: 100%;
    }
  }

}